---
layout: page
title: 翰林苑
subtitle: 董翰林的个人网站
---

{% for post in paginator.posts %}
<div class="row">
	<div class="col">
		<a href="{{ post.url | prepend: site.baseurl }}" class="no-decoration">
		<div class="card-body">
			<h4 class="card-title">{{ post.title }}</h4>
			<h6 class="card-subtitle mb-2 text-muted">作者： {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %}，发布于 {{ post.date | date: "%Y-%m-%d" }}</h6>
			<p class="card-text">{{ post.content | strip_html | truncate:200 }}</p>
		</div>
		</a>
	</div>
</div>
<hr class="row">
{% endfor %}

