---
layout: page
title: 翰林苑
subtitle: 董翰林的个人网站
---

{% for post in paginator.posts %}
<div class="row">
	<div class="col">
		<a href="{{ post.url | prepend: site.baseurl }}" class="no-decoration">
		<div class="card-body">
			<h4 class="card-title">{{ post.title }}</h4>
			<h6 class="card-subtitle mb-2 text-muted">作者： {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %}，发布于 {{ post.date | date: "%Y-%m-%d" }}</h6>
			<p class="card-text">{{ post.content | strip_html | truncate:200 }}</p>
		</div>
		</a>
	</div>
</div>
<hr class="row">
{% endfor %}
{% if paginator.total_pages > 1 %}
<div class="row">
	<div class="col">
		<nav aria-label="paginator">
			<ul class="pagination justify-content-center">
				
				<li class="page-item{% unless paginator.previous_page %} disabled{% endunless %}">
					<a class="page-link" href="{{ paginator.previous_page_path }}" aria-label="Previous">
						<span aria-hidden="true">&laquo; Newer</span>
						<span class="sr-only">Previous</span>
					</a>
				</li>
				
				{% for page in (1..paginator.total_pages) %}
				{% if page == 1 %}
				<li class="page-item{% if page == paginator.page %} active{% endif %}">	
					<a href="{{ paginator.previous_page_path }}" class="page-link">{{ page }}</a>
				</li>
				{% else %}
				<li class="page-item{% if page == paginator.page %} active{% endif %}">	
					<a href="{{ site.paginate_path | replace: ':num', page }}" class="page-link">{{ page }}</a>
				</li>
				{% endif %}
				{% endfor %}
				
				<li class="page-item{% unless paginator.next_page %} disabled{% endunless %}">
					<a class="page-link" href="{{ paginator.next_page_path }}" aria-label="Next">
						<span aria-hidden="true">Older &raquo;</span>
						<span class="sr-only">Next</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
{% endif %}

