---
layout: default
title: "标签"
subtitle: "将文章按标签分类"
---

{% include jumbotron.html %}
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div id="tag_cloud">
				{% for tag in site.tags %}
				<a href="#{{ tag[0] }}" class="tag">{{ tag[0] }}</a>
				{% endfor %}
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-12">
			{% for tag in site.tags %}
			<div class="card mb-1" id="{{ tag[0] }}">
				<div class="card-header d-flex justify-content-end">
					<div class="mr-auto"><h4 class="h4"><i class="fa fa-tag"></i> {{ tag[0] }} <span class="badge badge-secondary">{{ tag[1].size }}</span></h4></div>
					<div class="my-collapse" data-collapsed="false" style="display:none;"><a href="javascript:void(0);" class="text-right text-muted"><i class="fa fa-angle-double-down"></i>展开全部</a></div>
				</div>
				<div class="card-body card-mywrapper">
					{% for post in tag[1] %}
					<div class="card card-myelement" style="display:none;">
						<a href="{{ post.url | prepend: site.baseurl }}" class="no-decoration"><div class="card-body">
							<h4 class="card-title">{{ post.title }}</h4>
							<h6 class="card-subtitle mb-2 text-muted">{{ post.subtitle }}</h6>
							<p class="card-text">{{ post.content | strip_html | truncate:50 }}</p>
						</div></a>
					</div>
					{% endfor %}
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
