---
layout: page
title: 工具
subtitle: 实用的在线结构小工具
---


<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <h6 class="text-right pr-3">FILTER</h6>
            <nav>
                <ul class="nav flex-column nav-pills text-right" id="sidegroup" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab">全部</a>
                    </li>
                    {% for group in site.data.tools.toc %}
                    <li class="nav-item">
                        <a class="nav-link" id="{{ group.type }}-tab" data-toggle="tab" href="#{{ group.type }}" role="tab">{{ group.text }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <div class="col-sm-12 col-md-9">
            <div class="tab-content" id="sidegroupcontent">
                <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                    {% for group in site.data.tools.toc %}
                        {% for item in group.items %}
                            {% for tool in site.pages %}
                                {% assign realurl = item | prepend: "-"| prepend: group.type | prepend: "/tools/" | append: "/" %}
                                {% if tool.url == realurl %}
                                    <a href="{{ tool.url }}" class="no-decoration">
                                        <div class="card-body">
                                            <h4 class="card-title">{{ tool.title }}</h4>
                                            <h6 class="card-subtitle mb-2 text-muted">{{ tool.subtitle }}</h6>
                                            <p class="card-text">{{ tool.description }}</p>
                                        </div>
                                    </a>
                                    <hr class="row">
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </div>
                {% for group in site.data.tools.toc %}
                    <div class="tab-pane fade" id="{{ group.type }}" role="tabpanel" aria-labelledby="{{ group.type }}-tab">
                        {% for item in group.items %}
                            {% for tool in site.pages %}
                                {% assign realurl = item | prepend: "-"| prepend: group.type | prepend: "/tools/" | append: "/" %}
                                {% if tool.url == realurl %}
                                    <a href="{{ tool.url }}" class="no-decoration">
                                        <div class="card-body">
                                            <h4 class="card-title">{{ tool.title }}</h4>
                                            <h6 class="card-subtitle mb-2 text-muted">{{ tool.subtitle }}</h6>
                                            <p class="card-text">{{ tool.description }}</p>
                                        </div>
                                    </a>
                                    <hr class="row">
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
