<div class="container-fluid" style="background-color: #e9ecef;">
<nav class="nav navbar-expand-lg navbar-light">
	<a class="navbar-brand" href="{{ site.url }}">{{ site.title }}</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbar">
		<div class="navbar-nav">
			<a href="{{ "/" | prepend: site.baseurl }}" class="nav-item nav-link{% if page.title == "翰林苑" %} active {% endif %}">文章</a>
			<a href="{{ "/tool-catalog.html" | prepend: site.baseurl }}" class="nav-item nav-link{% if page.title == "工具" %} active {% endif %}">工具</a>
			<a href="{{ "/download-catalog.html" | prepend: site.baseurl }}" class="nav-item nav-link{% if page.title == "下载" %} active {% endif %}">下载</a>
			<a href="{{ "/tags.html" | prepend: site.baseurl }}" class="nav-item nav-link{% if page.title == "标签" %} active {% endif %}">标签</a>
		</div>
	</div>
</nav>
</div>