<div class="container">
	<!-- Tags -->
	<div class="row">
		<div class="col-12">
			<h6>FEATURED TAGS</h6>
			<div class="tags">
				{% for tag in site.tags %}
				<a href="{{ site.baseurl }}/tags/#{{ tag[0] }}" class="tag">{{ tag[0] }}</a>
				{% endfor %}
			</div>
		</div>
	</div>
	<hr class="row">
	<!-- About -->
	<div class="row">
		<div class="col-12">
			<h6>ABOUT ME</h6>
			<div class="row">
				<div class="col">
					<div class="row justify-content-center">
						<div class="col-8 text-center">
							<img src="{{ site.sidebar-avatar }}" alt="Hanlin Avatar" class="img-thumbnail">
						</div>
					</div>
					<div class="row mt-2">
						<div class="col text-center">
							<p class="text-muted">{{ site.sidebar-about-description }}</p>
						</div>
					</div>
					<div class="row">
						<div class="col text-center">
							<ul class="list-inline">
								<li class="list-inline-item">
									<a href="https://github.com/{{ site.github_username }}" class="icon-gray">
										<span class="fa-stack fa-lg">
											<i class="fa fa-circle fa-stack-2x"></i>
											<i class="fa fa-github fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</li>
								<li class="list-inline-item">
									<a href="https://www.researchgate.net/profile/{{ site.researchgate_username }}" class="icon-gray">
										<span class="fa-stack fa-lg">
											<i class="fa fa-circle fa-stack-2x"></i>
											<i class="ai ai-researchgate fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</li>
								<li class="list-inline-item">
									<a href="https://www.pinterest.com/{{ site.pinterest_username }}" class="icon-gray">
										<span class="fa-stack fa-lg">
											<i class="fa fa-circle fa-stack-2x"></i>
											<i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</li>
								<li class="list-inline-item">
									<a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" class="icon-gray">
										<span class="fa-stack fa-lg">
											<i class="fa fa-circle fa-stack-2x"></i>
											<i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr class="row">
	<!-- Donate -->
	<div class="row">
		<div class="col-12">
			<h6>DONATE</h6>
			<div class="row">
				<div class="col-12 text-center">
					<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#donate-modal">小额捐赠</button>
				</div>
			</div>
		</div>
	</div>
	<hr class="row">
	<!-- Contact -->
	<div class="row">
		<div class="col-12">
			<h6>CONTACT</h6>
			<address>
			<strong>董翰林</strong><br>
			同济大学建筑工程系<br>
			上海市四平路1239号土木大楼<br>
			contact@hanlindong.com<br><br>

			<strong>Hanlin Dong</strong><br>
			Dept. of Structural Engineering, Tongji Univ.<br>
			1239 Siping Rd., Shanghai, P.R.China.
			</address>
		</div>
	</div>
	<hr class="row">
	<!-- Friends -->
	<div class="row">
		<div class="col-12">
			<ul class="list-inline">
				<h6>FRIENDS</h6>
				{% for friend in site.friends %}
				<li class="list-inline-item"><a href="{{friend.href}}"><span class="text-muted">{{friend.title}}</span></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% include donate-modal.html %}