---
layout: page
---

<div class="row">
	<div class="col">
		<div class="card mb-3">
			<div class="card-body">
				<h4 class="card-title">工具卡片</h4>
				<div class="row">
					<div class="col-8">
					<dl class="row">
						{% if page.title %}
						<dt class="col-sm-3">名称</dt>
						<dd class="col-sm-9">{{ page.title }}</dd>
						{% endif %}
						{% if page.subtitle %}
						<dt class="col-sm-3">描述</dt>
						<dd class="col-sm-9">{{ page.subtitle }}</dd>
						{% endif %}
						{% if page.description %}
						<dt class="col-sm-3">简介</dt>
						<dd class="col-sm-9">{{ page.description }}</dd>
						{% endif %}
						{% if page.updatetime %}
						<dt class="col-sm-3">更新时间</dt>
						<dd class="col-sm-9">{{ page.updatetime | date: "%Y-%m-%d"}}</dd>
						{% endif %}
						{% if page.version %}
						<dt class="col-sm-3">版本</dt>
						<dd class="col-sm-9">{{ page.version }}</dd>
						{% endif %}
						{% if page.author %}
						<dt class="col-sm-3">作者</dt>
						<dd class="col-sm-9">{{ page.author }}</dd>
						{% endif %}
						{% if page.license %}
						<dt class="col-sm-3">版权协议</dt>
						<dd class="col-sm-9">{{ page.license }}</dd>
						{% endif %}
					</dl>
					</div>
				</div>
			</div>
		</div>
		<div class="card mb-3">
			<div class="card-header">输入计算参数</div>
			<div class="card-body">
				<div class="row">
					<div class="col mx-md-5">
						<form>
							<div id="tool-input">
								{% for toolview in page.view %}
								{% case toolview.type %}
									{% when 'head' %}
									<h4>{{ toolview.text }}</h4>
									{% when 'text' %}
									<div class="form-group" data-type="text">
										<label for={{ toolview.id }}>{{ toolview.text }}</label>
										<input type="text" id={{ toolview.id }} class="form-control"  {% if toolview.default %}value={{ toolview.default }}{% endif %}>
									</div>
									{% when 'int' %}
									<div class="form-group" data-type="int">
										<label for={{ toolview.id }}>{{ toolview.text }}</label>
										<input type="text" id={{ toolview.id }} class="form-control"  {% if toolview.default %}value={{ toolview.default }}{% endif %}>
									</div>
									{% when 'float' %}
									<div class="form-group" data-type="float">
										<label for={{ toolview.id }}>{{ toolview.text }}</label>
										<input type="text" id={{ toolview.id }} class="form-control"  {% if toolview.default %}value={{ toolview.default }}{% endif %}>
									</div>
									{% when 'int_array' %}
									<div class="form-group" data-type="int_array">
										<label for={{ toolview.id }}>{{ toolview.text }}</label>
										<input type="text" id={{ toolview.id }} class="form-control"  {% if toolview.default %}value={{ toolview.default }}{% endif %}>
									</div>
									{% when 'float_array' %}
									<div class="form-group" data-type="float_array">
										<label for={{ toolview.id }}>{{ toolview.text }}</label>
										<input type="text" id={{ toolview.id }} class="form-control" {% if toolview.default %}value={{ toolview.default }}{% endif %} >
									</div>
									{% when 'int_or_array' %}
									<div class="form-group" data-type="int_or_array">
										<label for={{ toolview.id }}>{{ toolview.text }}</label>
										<input type="text" id={{ toolview.id }} class="form-control"  {% if toolview.default %}value={{ toolview.default }}{% endif %}>
									</div>
									{% when 'float_or_array' %}
									<div class="form-group" data-type="float_or_array">
										<label for={{ toolview.id }}>{{ toolview.text }}</label>
										<input type="text" id={{ toolview.id }} class="form-control"  {% if toolview.default %}value={{ toolview.default }}{% endif %}>
									</div>
									{% when 'radio' %}
									<div class="form-group" data-type="radio" id={{ toolview.id }}>
										<label for={{ toolview.id }}>{{ toolview.text }}</label>
										{% for item in toolview.item %}
										{% if forloop.first == true %}
											<div class="radio">
											<label><input type="radio" id={{ toolview.id }}{{ forloop.index }} checked="checked">{{ item }}</label>
											</div>
										{% else %}
											<div class="radio">
											<label><input type="radio" id={{ toolview.id }}{{ forloop.index }}>{{ item }}</label>
											</div>
										{% endif %}
										{% endfor %}
									</div>
									{% when 'file_single' %}
									<div class="form-group" data-type="file_single">
										<label for={{ toolview.id }}>{{ toolview.text }}</label>
										<input type="file" id={{ toolview.id }} class="form-control-file">
										<textarea id="{{ toolview.id }}_result" class="d-none"></textarea>
									</div>
								{% endcase %}
								{% endfor %}
							</div>
							<a href="#tool-output-card" class="btn btn-primary btn-lg" id="tool-run">提交</a>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="card mb-3" id="tool-output-card">
			<div class="card-header">计算结果</div>
			<div class="card-body">
				<div class="row">
					<div class="col mx-md-5">
						<div id="tool-output">
							<div class="alert alert-primary">
								点击“提交”按键显示计算结果
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% include baidufenxiang.html %}
		{% include changyan.html %}
	</div>
</div>
